//Color Maps
$PrimaryColors: (
  //sub-heading at the top of the app UI
        "Pale Violet": hsl(276, 100%, 81%),
  //chat on the left
        "Moderate Violet": hsl(276, 55%, 52%),
  //chat on the right
        "Desaturated Dark Violet": hsl(271, 15%, 43%),
  //placeholder text
        "Grayish Blue": hsl(206, 6%, 79%),
  //main heading
        "Very Dark Desaturated Violet": hsl(271, 36%, 24%),
  //paragraph
        "Dark Grayish Violet": hsl(270, 7%, 64%)
);

$GradientColors: (
  //lighter
        "Light Magenta": hsl(293, 100%, 63%),
  //darker
        "Light Violet": hsl(264, 100%, 61%)
);

$SecondaryColors: (
        "White": hsl(0, 0%, 100%),
  //app background
        "Light Grayish Violet": hsl(270, 20%, 96%),
  //submit button background
        "Very Dark Desaturated Violet": hsl(271, 36%, 24%),
  //radio button outline
        "Very Light Magenta": hsl(289, 100%, 72%)
);

#phone-base {
  position: relative;
  width: 250px;
  height: 510px;
  border-radius: 30px;
  background-color: map_get($SecondaryColors, "White");
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  #phone-notch {
    position: absolute;
    top: 0;
    left: calc(50% - 65px);
    width: 130px;
    height: 26px;
    border-radius: 26px;
    background-color: map_get($SecondaryColors, "White");
    z-index: 999;
  }
  #phone-inside {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 226px;
    height: 486px;
    border-radius: 18px;
    background-color: map_get($SecondaryColors, "Light Grayish Violet");
    overflow: hidden;
    &-UI-Header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 65px;
      border-radius: 5px;
      background: linear-gradient(to right, map_get($GradientColors, "Light Violet"), map_get($GradientColors, "Light Magenta"));
    }
    &-UI-Back {
      position: absolute;
      box-sizing: border-box;
      padding: 16px 0 16px 12px;
      height: 48px;
      width: 20px;
      bottom: 0;
      color: map_get($SecondaryColors, "White");
    }
    &-UI-Avatar {
      position: absolute;
      box-sizing: border-box;
      margin: 11px 0 12px 24px;
      bottom: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid map_get($SecondaryColors, "White");
    }
    &-UI-Name {
      position: absolute;
      bottom: 0;
      margin: 0 0 22px 56px;
      font-weight: 700;
      font-size: 0.75rem;
      color: map-get($SecondaryColors, "White");
    }
    &-UI-Availability {
      position: absolute;
      bottom: 0;
      margin: 0 0 12px 56px;
      font-size: 0.5rem;
      color: map-get($PrimaryColors, "Pale Violet");
    }
    &-UI-Menu {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 12px 18px 0;
      width: 12px;
      height: 12px;
      color: map_get($SecondaryColors, "White");
    }
    &-chat {
      margin-top: 75px;
    }
  }
}

.Chat {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 7px;
  width: 126px;
  font-size: 0.5rem;
}
.Left {
  margin: 12px 0 0 10px;
  background-color: hsl(274, 100%, 94%);
  color: map_get($PrimaryColors, "Moderate Violet");
  border-radius: 10px 10px 10px 3px;
}

.Right {
  margin: 0 0 12px calc(100% - 136px);
  background-color: map_get($SecondaryColors, "White");
  color: map_get($PrimaryColors, "Desaturated Dark Violet");
  border-radius: 10px 10px 3px 10px;
}

#small {
  width: 80px !important;
  margin-left: calc(100% - 90px) !important;
}

#start {
  margin-top: 15px !important;
}

#dogs {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  margin: 16px 0 10px 0;
  padding-left: calc(100% - 150px);
}

.Dog-Image {
  width: 40px;
  border-radius: 10px;
}

.Price-{
  &box {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 12px 0 0 10px;
    padding: 7px;
    width: 160px;
    height: 32px;
    background: linear-gradient(to right, map_get($GradientColors, "Light Magenta"), map_get($GradientColors, "Light Violet"));
    color: map_get($SecondaryColors, "White");
    font-size: 0.5rem;
    line-height: 20px;
    border-radius: 10px 10px 10px 3px;
  }
  &circle {
    display: inline-block;
    margin-right: 5px;
    width: 9px;
    height: 9px;
    border: 1px solid map_get($SecondaryColors, "Very Light Magenta");
    border-radius: 50%;
    transform: translateY(2px);
  }
  &text {
    position: absolute;
    right: 10px;
    font-size: 0.85rem;
    font-weight: 700;
  }
}

#text-box {
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 32px;
  margin: 16px 10px;
  padding-left: 20px;
  color: map_get($PrimaryColors, "Grayish Blue");
  background: map_get($SecondaryColors, "White");
  border-radius: 16px;
  font-size: 0.5rem;
  line-height: 32px;
}

#submit-button {
  display: inline-block;
  position: absolute;
  right: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: map_get($SecondaryColors, "Very Dark Desaturated Violet");
  transform: translateY(4px);
  &-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    color: map_get($SecondaryColors, "White");
  }
}